<div class="gallery-filter">
    <ul class="post-filter masonary text-center">
        <li class="filter active" data-filter=".masonary-item"><span><i
                class="industrio-icon-layers"></i>All Cases</span></li><!--
                    -->
        <li class="filter " data-filter=".oil"><span><i class="industrio-icon-drop-of-liquid"></i>Oil & Gas</span></li><!--
                    -->
        <li class="filter " data-filter=".construction"><span><i class="industrio-icon-safety"></i>Construction</span>
        </li><!--
                    -->
        <li class="filter " data-filter=".chemical"><span><i class="industrio-icon-atom"></i>Chemicel</span></li><!--
                    -->
        <li class="filter " data-filter=".industrial"><span><i class="industrio-icon-settings"></i>Industrial</span>
        </li><!--
                    -->
        <li class="filter " data-filter=".agriculture"><span><i class="industrio-icon-scythe"></i>Agriculture</span>
        </li>
    </ul><!-- /.post-filter -->
</div><!-- /.gallery-filter -->
