{% load static cms_tags menu_tags i18n %}
<footer class="site-footer fixed-footer">
    <div class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-widget about-widget">
                        <a href="/"><img src="{% static 'img/logo_iiota_alt_new.png' %}" alt="IIOTA Logo"/></a>
{#                        {% static_placeholder 'about_footer' %}#}
                    </div><!-- /.footer-widget about-widget -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="footer-widget links-widget">
                        <div class="title">
                            <h3>Links</h3>
                        </div><!-- /.title -->
                        <ul class="links-list">
                            {% show_menu 0 1 0 0 %}
                        </ul><!-- /.links-list -->
                    </div><!-- /.footer-widget links-widget -->
                </div><!-- /.col-md-2 -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-widget services-widget">
                        <div class="title">
                            <h3>{% trans 'Diensten' %}</h3>
                        </div><!-- /.title -->
                        {#                        <ul class="links-list">#}
                        {#                            <li><a href="#">{% trans 'Advies Industrie 4.0' %}</a></li>#}
                        {#                            <li><a href="#">{% trans 'Implementatie' %}</a></li>#}
                        {#                            <li><a href="#">{% trans 'Ontwikkeling IIoT' %}</a></li>#}
                        {#                            <li><a href="#">{% trans 'Sales & marketing advies' %}</a></li>#}
                            {#                            <li><a href="#">Agricultural Processing</a></li>#}
                        {#                        </ul><!-- /.links-list -->#}
                    </div><!-- /.footer-widget services-widget -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-widget subscribe-widget">
                        {% placeholder "inschrijven_nieuwsbrief" %}
                        {#                        <h3>Subscribe Today</h3>#}
                        {#                        <p>Many of our SELC registered employees are requested as main</p>#}
                        {#                        <form action="#" class="subscribe-form">#}
                        {#                            <input type="text" placeholder="Email Address"/>#}
                        {#                            <button type="submit" class="hvr-sweep-to-right">Subscribe</button>#}
                        {#                        </form><!-- /.subscribe-form -->#}
                    </div><!-- /.footer-widget subscribe-widget -->
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.main-footer -->
    <div class="bottom-footer">
        <div class="container">
            <div class="left-text pull-left"><p>&copy; Copyright IIOTA 2019. Alle rechten voorbehouden.</p></div>
            <!-- /.left-text -->
            <div class="right-text pull-right"><p>Theme created by Themexriver</p></div><!-- /.right-text -->
        </div><!-- /.container -->
    </div><!-- /.bottom-footer -->
</footer><!-- /.site-footer -->