{% extends 'base_three.html' %}
{% load static cms_tags menu_tags i18n %}
{% block content %}
    {% include '__breadcrumbs.html' %}
    <section class="blog-listing-page sec-pad">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    {% block newsblog_content %}
                    {% endblock newsblog_content %}
                    {% include "aldryn_newsblog/includes/iiota_pagination.html" %}

                </div><!-- /.col-md-9 -->
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="sidebar sidebar-right">
                        <div class="single-sidebar search-widget">
                            {% placeholder "search_box_blog" %}
                        </div><!-- /.single-sidebar -->
                        <div class="single-sidebar recent-post-widget">
                            <div class="title">
                                <h3>Recent Post</h3>
                            </div><!-- /.title -->
                            <div class="recent-post-list">
                                {% with 'single-recent-post' as div_style %}
                                {% placeholder "latest_articles_blog" %}{% endwith %}
                            </div><!-- /.recent-post-list -->
                        </div><!-- /.single-sidebar -->
                        <div class="single-sidebar category-widget">
                            <div class="title">
                                <h3>{% trans "Categories" %}</h3>
                            </div><!-- /.title -->
                            {% placeholder "blog_categories" %}
                         </div><!-- /.single-sidebar -->
                        <div class="single-sidebar category-widget">
                            <div class="title">
                                <h3>{% trans "Archives" %}</h3>
                            </div><!-- /.title -->
                            {% placeholder "blog_archive" %}
                        </div><!-- /.single-sidebar -->
                        <div class="single-sidebar tags-widget">
                            <div class="title">
                                <h3>{% trans "Tags" %}</h3>
                            {% placeholder "blog_tags" %}
{#                            <div class="title">#}
{#                                <h3>Tags</h3>#}
{#                            </div><!-- /.title -->#}
{#                            <ul class="tags-list">#}
{#                                <li><a href="#">Business</a></li><!--#}
{#                                -->#}
{#                                <li><a href="#">Financial</a></li><!--#}
{#                                -->#}
{#                                <li><a href="#">Life</a></li><!--#}
{#                                -->#}
{#                                <li><a href="#">Investment</a></li><!--#}
{#                                -->#}
{#                                <li><a href="#">Government</a></li><!--#}
{#                                -->#}
{#                                <li><a href="#">Joy</a></li>#}
{#                            </ul><!-- /.category-list -->#}
{#                        </div><!-- /.single-sidebar -->#}
                    </div><!-- /.sidebar sidebar-right -->
                </div><!-- /.col-md-3 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.blog-listing-page -->

    <section class="contact-info-style-one">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="title">
                        <h3>Get in Touch</h3>
                        <p>You will find yourself working in a true partnership that results in an incredible
                            experience, and an end product that is the best.</p>
                    </div><!-- /.title -->
                </div><!-- /.col-md-7 -->
                <div class="col-md-6">
                    <div class="contact-infos">
                        <div class="single-contact-infos">
                            <div class="icon-box">
                                <i class="industrio-icon-phone-call"></i>
                            </div><!-- /.icon-box -->
                            <div class="text-box">
                                <h3>Call us on</h3>
                                <p>222-121-4562</p>
                            </div><!-- /.text-box -->
                        </div><!-- /.single-contact-infos -->
                        <div class="single-contact-infos">
                            <div class="icon-box">
                                <i class="industrio-icon-envelope"></i>
                            </div><!-- /.icon-box -->
                            <div class="text-box">
                                <h3>Email us</h3>
                                <p>support@gmail.com</p>
                            </div><!-- /.text-box -->
                        </div><!-- /.single-contact-infos -->
                    </div><!-- /.contact-infos -->
                </div><!-- /.col-md-5 -->
            </div><!-- /.row -->
        </div><!-- /.contianer -->
    </section><!-- /.contact-info-style-one -->

{% endblock %}