{% extends 'base_three.html' %}
{% load static cms_tags menu_tags i18n %}
{% block content %}
    {% include '__breadcrumbs.html' %}
    <section class="blog-listing-page sec-pad">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    {% block newsblog_content %}
                    {% endblock newsblog_content %}
                    {% include "aldryn_newsblog/includes/iiota_pagination.html" %}

                </div><!-- /.col-md-9 -->
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="sidebar sidebar-right">
                        <div class="single-sidebar search-widget">
                            {% placeholder "search_box_blog" %}
                        </div><!-- /.single-sidebar -->
                        <div class="single-sidebar recent-post-widget">
                            <div class="title">
                                <h3>{% trans "Recent Post" %}</h3>
                            </div><!-- /.title -->
                            <div class="recent-post-list">
                                {% with 'single-recent-post' as div_style %}
                                {% placeholder "latest_articles_blog" %}{% endwith %}
                            </div><!-- /.recent-post-list -->
                        </div><!-- /.single-sidebar -->
                        <div class="single-sidebar category-widget">
                            <div class="title">
                                <h3>{% trans "Categories" %}</h3>
                            </div><!-- /.title -->
                            {% placeholder "blog_categories" %}
                         </div><!-- /.single-sidebar -->
                        <div class="single-sidebar category-widget">
                            <div class="title">
                                <h3>{% trans "Archives" %}</h3>
                            </div><!-- /.title -->
                            {% placeholder "blog_archive" %}
                        </div><!-- /.single-sidebar -->
                        <div class="single-sidebar tags-widget">
                            <div class="title">
                                <h3>{% trans "Tags" %}</h3>
                            {% placeholder "blog_tags" %}
                    </div><!-- /.sidebar sidebar-right -->
                </div><!-- /.col-md-3 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.blog-listing-page -->

    {% include '_contact_info.html' %}

{% endblock %}