{% extends "base_one.html" %}
{% load static cms_tags i18n %}
{% block content %}
    <!--Main Slider-->
    {% placeholder "main_slider" %}
    {# section on services owl-carousel #}
    {% placeholder "owl_carousel" %}
    {# section with main content   #}
    {% placeholder "about_box" %}


    <section class="about-style-one sec-pad pb0">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="about-content">
                        {% placeholder "welkom_content" %}
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                <ul class="list-items">
                                    {% placeholder "list_box_left" %}
                                    {#                                    <li><i class="industrio-icon-next"></i> Our Work Growth</li>#}
                                    {#                                    <li><i class="industrio-icon-next"></i> 1500 Employed</li>#}
                                </ul><!-- /.list-items -->
                            </div><!-- /.col-lg-4 col-md-6 col-sm-12 col-xs-12 -->
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                <ul class="list-items">
                                    {% placeholder "list_box_right" %}
                                    {#                                    <li><i class="industrio-icon-next"></i> Our Employee Growth</li>#}
                                    {#                                    <li><i class="industrio-icon-next"></i> Service Management</li>#}
                                </ul><!-- /.list-items -->
                            </div><!-- /.col-lg-4 col-md-6 col-sm-12 col-xs-12 -->
                        </div><!-- /.row -->
                        {% placeholder "welkom_link" %}
                        {#                        <a href="#" class="about-btn hvr-sweep-to-right">Learn about the services</a>#}
                    </div><!-- /.about-content -->

                </div><!-- /.col-md-7 -->
                {#                <div class="col-md-5">#}
                {#                    <div class="about-img-box">#}
                {#                        {% placeholder "welkom_image" %}#}
                        {#                        <img src="{% static 'img/about-1-1.png' %}" alt="Awesome Image"/>#}
                {#                        <div class="video-box">#}
                {#                            <img src="{% static 'img/about-1-2.png' %}" alt="Awesome Image"/>#}
                {#                            <a href="/" class="video-popup"><i#}
                {#                                    class="industrio-icon-play-button"></i></a>#}
                {#                        </div><!-- /.video-box -->#}
                {#                    </div><!-- /.about-img-box -->#}
                {#                </div><!-- /.col-md-5 -->#}
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.about-style-one -->

    {% placeholder "owl_service_one" %}
    {##}
    {#    <section class="portfolio-style-two sec-pad">#}
    {#        <div class="container">#}
    {#            <div class="sec-title text-center">#}
    {#                <h3>{% trans "Interesting projects that might inspire you" %}</h3>#}
                {#                <p>You will find yourself working in a true partnership that results in an incredible <br/> experience,#}
                {#                    and an end product that is the best. </p>#}
    {#            </div><!-- /.sec-title -->#}
    {#            {% include '__galery_filter.html' %}#}
    {#            <div class="row masonary-layout filter-layout" data-filter-class="filter">#}
    {#                {% placeholder "reference_stories" %}#}
    {#            </div>#}
    {#        </div><!-- /.container -->#}
    {#    </section><!-- /.project-style-one -->#}

    <section class="blog-style-one sec-pad pb0">
        <div class="container">
            <div class="sec-title">
                <h3>{% trans 'Laatste blogs' %}</h3>
            </div><!-- /.sec-title -->
            <div class="row">
                {% placeholder 'blog_block_left' %}
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="blog-list-sidebar">
                        {% with "single-blog-list" as div_style %}
                            {% placeholder "blog_list_side" %}{% endwith %}
                        {#                        <div class="single-blog-list">#}
                        {#                            <a href="industrio-html-files/blog-details.html"><h3>Start it as an S corporation, unless you have to issue#}
                        {#                                stock...</h3></a>#}
                        {#                            <p>24th August 2019</p>#}
                        {#                            <div class="cat-list"><a href="#">Business Study,</a><a href="#">Management</a></div>#}
                        {#                            <!-- /.cat-list -->#}
                        {#                        </div><!-- /.single-blog-list -->#}
                        {#                        <div class="single-blog-list">#}
                        {#                            <a href="industrio-html-files/blog-details.html"><h3>The standard answer to this is Delaware because of its#}
                        {#                                wellfare</h3></a>#}
                        {#                            <p>24th August 2019</p>#}
                        {#                            <div class="cat-list"><a href="#">Business Study,</a><a href="#">Management</a></div>#}
                        {#                            <!-- /.cat-list -->#}
                        {#                        </div><!-- /.single-blog-list -->#}
                        {#                        <div class="single-blog-list">#}
                        {#                            <a href="industrio-html-files/blog-details.html"><h3>As much as you can reasonably afford, and in an amount#}
                        {#                                to...</h3></a>#}
                        {#                            <p>24th August 2019</p>#}
                        {#                            <div class="cat-list"><a href="#">Business Study,</a><a href="#">Management</a></div>#}
                        {#                            <!-- /.cat-list -->#}
                        {#                        </div><!-- /.single-blog-list -->#}
                        {#                        <div class="btn-box">#}
                        {#                            <a href="industrio-html-files/blog.html">Read more <i class="fa fa-arrow-right"></i></a>#}
                        {#                        </div><!-- /.btn-box -->#}
                    </div><!-- /.blog-list-sidebar -->
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.blog-style-one -->

    {#    <section class="brand-carousel-area">#}
    {#        <div class="container">#}
    {#            <div class="brand-carousel owl-carousel owl-theme">#}
    {#                <div class="item">#}
    {#                    <i class="brands-icon-codecanyon"></i>#}
    {#                </div><!-- /.item -->#}
    {#                <div class="item">#}
    {#                    <i class="brands-icon-envato"></i>#}
    {#                </div><!-- /.item -->#}
    {#                <div class="item">#}
    {#                    <i class="brands-icon-graphicriver"></i>#}
    {#                </div><!-- /.item -->#}
    {#                <div class="item">#}
    {#                    <i class="brands-icon-photodune"></i>#}
    {#                </div><!-- /.item -->#}
    {#                <div class="item">#}
    {#                    <i class="brands-icon-themeforest"></i>#}
    {#                </div><!-- /.item -->#}
    {#                <div class="item">#}
    {#                    <i class="brands-icon-videohive"></i>#}
    {#                </div><!-- /.item -->#}
    {#                <div class="item">#}
    {#                    <i class="brands-icon-audiojungle"></i>#}
    {#                </div><!-- /.item -->#}
    {#            </div><!-- /.brand-carousel owl-carousel owl-theme -->#}
    {#        </div><!-- /.container -->#}
    {#    </section><!-- /.brand-carousel-area -->#}

    <section class="award-winning">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="title">
                        {% static_placeholder "Contact_tekst_home" %}
                    </div><!-- /.title -->
                </div><!-- /.col-md-7 -->
                <div class="col-md-5">
                    <div class="img-box clearfix">
                        <img src="{% static_placeholder 'foto_award_1' %}" alt="Foto" class="pull-left"/>
                        <img src="{% static_placeholder 'foto_award_2' %}" alt="Foto" class="pull-right"/>
                    </div> <!-- /.img-box -->
                </div><!-- /.col-md-5 -->
            </div><!-- /.row -->
        </div><!-- /.contianer -->
    </section><!-- /.award-winning -->
{% endblock content %}