{% extends "iiota-blog.html" %}
{% load i18n cms_tags apphooks_config_tags %}

{% block newsblog_content %}
    {% include "aldryn_newsblog/includes/iiota_article.html" with detail_view="true" %}

    {% static_placeholder "newsblog_social" %}

    <div class="blog-post-pagination">
        {% if prev_article %}
            <a class="pull-left" href="{{ prev_article.get_absolute_url }}"><i class="fa fa-angle-left"></i></a>
        {% endif %}
        {% if next_article %}
            <a class="pull-right" href="{{ next_article.get_absolute_url }}"><i class="fa fa-angle-right"></i></a>
        {% endif %}
    </div>
{% endblock %}
