{% load cms_tags thumbnail %}

<div class="col-md-3 col-sm-6 col-xs-12 masonary-item single-filter-item {{ instance.story.segments }}">
    <div class="single-portfolio-style-two">
        <div class="img-box">
            <img src="{% thumbnail instance.story.image 403x292 crop %}" alt="{{ instance.story.title }}"/>
            <div class="overlay">
                <div class="box">
                    <div class="content">
                        <span>{{ instance.story.title }}</span>
                        <a href="{{ instance.story.get_absolute_url }}"><h3>{{ instance.story.title }}</h3></a>
                        <a href="{{ instance.story.image.url }}" class="img-popup industrio-icon-next"></a>
                    </div><!-- /.content -->
                </div><!-- /.box -->
            </div><!-- /.overlay -->
        </div><!-- /.img-box -->
    </div><!-- /.single-portfolio-style-two -->
</div>