{% extends "base_three.html" %}
{% load static cms_tags menu_tags i18n thumbnail %}

{% block content %}
    {% include "__breadcrumbs.html" %}

    <section class="project-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <img src="{% thumbnail object.image 666x645 crop %}" alt="{{ object.title }}" height="666px"
                         width="645px"/>
                </div><!-- /.col-lg-7 -->
                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                    <div class="project-details-content">
                        <h3>{{ object.title }}</h3>
                        <br/>
                        {{ object.text|truncatewords:100 }}
                        <br/>
                        {% if object.complexity %}
                            <div class="starts">
                                {#                            {% with cnt = object.complexity %}#}
                                {% for z in "X"|ljust:object.complexity %}
                                    <i class="fa fa-star"></i>
                                {% endfor %}
                            </div><!-- /.starts -->
                        {% endif %}
                        <br/>
                        <ul class="meta-info">
                            <li><i class="fa fa-tag"></i><span>{% trans "Category:" %}</span> {{ object.segments }}</li>
                            <li><i class="fa fa-user"></i><span>{% trans "Client:" %}</span> {{ object.account }}</li>
                            <li>
                                <i class="fa fa-calendar-alt"></i><span>{% trans "Date:" %}</span> {{ object.date_completed }}
                            </li>
                            <li>
                                <i class="fa fa-external-link-alt"></i><span>{% trans 'Website:' %}</span> {{ object.account_url }}
                            </li>
                        </ul><!-- /.meta-info -->
                    </div><!-- /.project-details-content -->
                </div><!-- /.col-lg-7 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.project-details -->

    <section class="strategy-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-strategy light">
                        <div class="img-box">
                            <img src="{% thumbnail object.challenge_image 317x415 crop %}"
                                 alt="Image challenge"/>
                        </div><!-- /.img-box -->
                        <div class="text-box">
                            <h3>{% trans 'Challenge' %}</h3>
                            <p>{{ object.challenge | truncatewords:16 }}</p>
                            <span>01.</span>
                        </div><!-- /.text-box -->
                    </div><!-- /.single-strategy -->
                </div><!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-strategy">
                        <div class="img-box">
                            <img src="{% thumbnail object.businesscase_image 317x415 crop %}"
                                 alt="Image businesscase"/>
                        </div><!-- /.img-box -->
                        <div class="text-box">
                            <h3>{% trans "Business case" %}</h3>
                            <p>{{ object.businesscase| truncatewords:16 }}</p>
                            <span>02.</span>
                        </div><!-- /.text-box -->
                    </div><!-- /.single-strategy -->
                </div><!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-strategy light">
                        <div class="img-box">
                            <img src="{% thumbnail object.solution_image317x415 crop %}"
                                 alt="Image solution"/>
                        </div><!-- /.img-box -->
                        <div class="text-box">
                            <h3>{% trans "Solution" %}</h3>
                            <p>{{ object.solution| truncatewords:16 }}</p>
                            <span>03.</span>
                        </div><!-- /.text-box -->
                    </div><!-- /.single-strategy -->
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </section><!-- /.strategy-wrapper -->


    {% include '_contact_info.html' %}

{% endblock %}