{% load cms_tags i18n %}
<div class="contact-infos">
    <div class="single-contact-infos">
        <div class="icon-box">
            <i class="industrio-icon-phone-call"></i>
        </div><!-- /.icon-box -->
        <div class="text-box">
            <h3>{% trans "Call us on" %}</h3>
            <p><a href="tel:+31622785658">+31 6 22785658</a></p>
        </div><!-- /.text-box -->
    </div><!-- /.single-contact-infos -->
    <div class="single-contact-infos">
        <div class="icon-box">
            <i class="industrio-icon-envelope"></i>
        </div><!-- /.icon-box -->
        <div class="text-box">
            <h3>{% trans "Email us" %}</h3>
            <p><a href="mailto:info@iiota.nl">info@iiota.nl</a></p>
        </div><!-- /.text-box -->
    </div><!-- /.single-contact-infos -->
</div><!-- /.contact-infos -->
