   <section class="about-style-one sec-pad pb0">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="about-content">
                        {% placeholder "welkom_content" %}
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                <ul class="list-items">
                                    {% placeholder "list_box_left" %}
                                    {#                                    <li><i class="industrio-icon-next"></i> Our Work Growth</li>#}
                                    {#                                    <li><i class="industrio-icon-next"></i> 1500 Employed</li>#}
                                </ul><!-- /.list-items -->
                            </div><!-- /.col-lg-4 col-md-6 col-sm-12 col-xs-12 -->
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                <ul class="list-items">
                                    {% placeholder "list_box_right" %}
                                    {#                                    <li><i class="industrio-icon-next"></i> Our Employee Growth</li>#}
                                    {#                                    <li><i class="industrio-icon-next"></i> Service Management</li>#}
                                </ul><!-- /.list-items -->
                            </div><!-- /.col-lg-4 col-md-6 col-sm-12 col-xs-12 -->
                        </div><!-- /.row -->
                        {% placeholder "welkom_link" %}
                        {#                        <a href="#" class="about-btn hvr-sweep-to-right">Learn about the services</a>#}
                    </div><!-- /.about-content -->

                </div><!-- /.col-md-7 -->
                <div class="col-md-5">
                    <div class="about-img-box">
                        {% placeholder "welkom_image" %}
                        {#                        <img src="{% static 'img/about-1-1.png' %}" alt="Awesome Image"/>#}
                        <div class="video-box">
                            <img src="{% static 'img/about-1-2.png' %}" alt="Awesome Image"/>
                            <a href="/" class="video-popup"><i
                                    class="industrio-icon-play-button"></i></a>
                        </div><!-- /.video-box -->
                    </div><!-- /.about-img-box -->
                </div><!-- /.col-md-5 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.about-style-one -->
