{% extends 'industrio-html-files/base.html' %}
{% load cms_tags menu_tags sekizai_tags static %}

{% block header_content %}

    <div class="header-top home-one clearfix">
        <div class="container">
            <div class="logo pull-left">
                <a href="/"><img src="{% static 'img/Logo_iiota.png' %}" alt="IIOTA Logo"/></a>
            </div><!-- /.logo -->
            <div class="header-right-info pull-right">
                <div class="single-header-right-info">
                    <div class="icon-box">
                        <i class="industrio-icon-phone-call"></i>
                    </div><!-- /.icon-box -->
                    <div class="text-box">
                        <p>Bel ons tussen 9.00 en 17.00 uur</p>
                        <h3><a href="tel:+31622785658">+31 6 22785658</a></h3>
                        {% static_placeholder "icon_box_tel" %}
                    </div><!-- /.text-box -->
                </div><!-- /.single-header-right-info -->
                <div class="single-header-right-info">
                    <div class="icon-box">
                        <i class="industrio-icon-clock"></i>
                    </div><!-- /.icon-box -->
                    <div class="text-box">
                        <p>Maandag tot en met vrijdag</p>
                        <h3>9.00 - 17.00</h3>
                        {% static_placeholder "icon_box_clock" %}
                    </div><!-- /.text-box -->
                </div><!-- /.single-header-right-info -->
                <div class="single-header-right-info">
                    <div class="icon-box">
                        <i class="industrio-icon-envelope"></i>
                    </div><!-- /.icon-box -->
                    <div class="text-box">
                        <p>Mail ons</p>
                        <h3><a href="mailto:info@iiota.nl">info@iiota.nl</a></h3>
                        {% static_placeholder "icon_box_mail" %}
                    </div><!-- /.text-box -->
                </div><!-- /.single-header-right-info -->
            </div><!-- /.header-right-info -->
        </div><!-- /.container -->
    </div><!-- /.header-top home-one -->

    <header class="header header-home-one clearfix">
        <nav class="navbar navbar-default header-navigation stricky clearfix">
            <div class="container clearfix">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button class="side-nav-toggler side-nav-opener"><i class="fa fa-bars"></i></button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse main-navigation mainmenu " id="main-nav-bar">
                    <ul class="nav navbar-nav navigation-box">
                        {% show_menu 0 100 100 100 'industrio-html-files/menu.html' %}
                    </ul>
                </div><!-- /.navbar-collapse -->
                <div class="right-side-box">
                    <a href="#" class="rqa-btn"><span class="inner">Vraag het ons<i class="fa fa-caret-right"></i></span></a>
                </div><!-- /.right-side-box -->
            </div><!-- /.container -->
        </nav>
    </header><!-- /.header -->
{% endblock header_content %}
{% block content %}{% endblock content %}
