{% load static cms_tags menu_tags%}
<footer class="site-footer fixed-footer">
    <div class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-widget about-widget">
                        <a href="/"><img src="{% static 'img/Logo_iiota.png' %}" alt="IIOTA Logo"/></a>
                        {% static_placeholder 'about_footer' %}
                    </div><!-- /.footer-widget about-widget -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="footer-widget links-widget">
                        <div class="title">
                            <h3>Links</h3>
                        </div><!-- /.title -->
                        <ul class="links-list">
                            {% show_menu 0 100 100 100 %}
                        </ul><!-- /.links-list -->
                    </div><!-- /.footer-widget links-widget -->
                </div><!-- /.col-md-2 -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-widget services-widget">
                        <div class="title">
                            <h3>Services</h3>
                        </div><!-- /.title -->
                        <ul class="links-list">
                            <li><a href="#">Engineering</a></li>
                            <li><a href="#">Petrolium & Gas</a></li>
                            <li><a href="#">Power & Engergy</a></li>
                            <li><a href="#">Mechanical Engineering</a></li>
                            <li><a href="#">Agricultural Processing</a></li>
                        </ul><!-- /.links-list -->
                    </div><!-- /.footer-widget services-widget -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-widget subscribe-widget">
                        <h3>Subscribe Today</h3>
                        <p>Many of our SELC registered employees are requested as main</p>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Email Address"/>
                            <button type="submit" class="hvr-sweep-to-right">Subscribe</button>
                        </form><!-- /.subscribe-form -->
                    </div><!-- /.footer-widget subscribe-widget -->
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.main-footer -->
    <div class="bottom-footer">
        <div class="container">
            <div class="left-text pull-left"><p>&copy; Copyright Industrio 2018. All right reserved.</p></div>
            <!-- /.left-text -->
            <div class="right-text pull-right"><p>Created by Themexriver</p></div><!-- /.right-text -->
        </div><!-- /.container -->
    </div><!-- /.bottom-footer -->
</footer><!-- /.site-footer -->